{% extends 'ambienteProgramacion/base.html' %}
{% load static %}
{% block content %}

    <!-- Masthead-->
    <header class="masthead bg-primary text-white text-center">
        <div style = "height: 600px;"class="container d-flex align-items-center flex-column">
            <!-- Masthead Heading-->
            <h1 class="masthead-heading text mb-0">Ambiente de Programación <Programacion></Programacion></h1>
            <!-- Icon Divider-->
						<br>
                        
                        <!-- Masthead Subheading-->
                       
                          
                          <div style = "display: flex; position:relative;"class="dropdown">
                            <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
                              C++
                            </button>
                            <ul class="dropdown-menu" style = "width: 900px; left: 1px;" aria-labelledby="dropdownMenuButton1">
                              <li ><iframe frameborder="1" width="100%" height="500px" src="https://replit.com/@AndrsGarca1/C-1?lite=true"></iframe></li>
                            </ul>
                            <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
                              C
                            </button>
                            <ul class="dropdown-menu" style = "width: 900px;" aria-labelledby="dropdownMenuButton1">
                              <li style="align-items: center;"><iframe frameborder="1" width="100%" height="500px" src="https://replit.com/@AndrsGarca1/C?lite=true"></iframe></li>
                            </ul>
                            <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
                              Python
                            </button>
                            <ul class="dropdown-menu" style = "width: 900px;" aria-labelledby="dropdownMenuButton1">
                              <li><iframe frameborder="1" width="100%" height="500px" src="https://replit.com/@AndrsGarca1/Python?lite=true"></li>
                            </ul>
                            <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
                              Java
                            </button>
                            <ul class="dropdown-menu" style = "width: 900px;" aria-labelledby="dropdownMenuButton1">
                              <li><iframe frameborder="1" width="100%" height="500px" src="https://replit.com/@AndrsGarca1/Java?lite=true"></iframe></li>
                            </ul>
                            <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
                              JavaScript
                            </button>
                            <ul class="dropdown-menu" style = "width: 900px;" aria-labelledby="dropdownMenuButton1">
                              <li><iframe frameborder="1" width="100%" height="500px" src="https://replit.com/@AndrsGarca1/JavaScript?lite=true"></iframe></li>
                            </ul>
                            <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
                              HTML, CSS & JS
                            </button>
                            <ul class="dropdown-menu" style = "width: 900px;" aria-labelledby="dropdownMenuButton1">
                              <li><iframe frameborder="1" width="100%" height="500px" src="https://replit.com/@AndrsGarca1/HTML-CSS-JS?lite=true"></iframe></li>
                            </ul>
                          </div>
        
          
        </div>
    </header>

{% endblock %}